<!doctype html>
<html>
  <head>
    <title>Shaky Shaky Dice Cup</title>
    <script src="static/gameplay.js"></script>
    <link href="static/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="view">
      <form id="form" onsubmit="submitFormAjax(event);">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Submit</button>
      </form>

      <hr>

      <div id="gamestate">
        <label class="state-label">Players: </label>
        <span id="players"></span>
        <br>
        <label class="state-label">Current Player: </label>
        <span id="currentPlayer"></span>
        <br>
        <label class="state-label">Last Person to Roll Dice: </label>
        <span id="diceRoller"></span>
        <br>
        <label class="state-label">Last Person to Peek at Dice: </label>
        <span id="dicePeeker"></span>
        <br>
        <label class="state-label">Dice: </label>
        <span id="dice"></span>
      </div>

      <hr>

      <button class="modifiers" onclick="passLeft(event);">Pass Left</button>
      <button class="modifiers" onclick="passRight(event);">Pass Right</button>
      <button class="modifiers" onclick="rollDice(event);">Roll Dice</button>
      <button class="modifiers" onclick="peekDice(event);">Peek Dice</button>
      <button class="modifiers" onclick="revealDice(event);">Reveal Dice</button>
    </div>
  </body>
</html>
